/* SCSS Styles */
@import '_Mixins.scss';
@import '_Colors.scss';
@import '../Home/Resume/resume.scss';
@import '../Home/Index/index.scss';
@import '../Home/HowIStarted/howIstarted.scss';
@import '../Home/About/about.scss';

body {
    //* BACKGROUND IMAGE CONFIG
    background-image: url("../../Images/Home_Mountain.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    //*
    box-sizing: content-box;
    overflow-x: hidden;
    font-family: "Gill Sans", sans-serif;
    font-weight: 400;
    color: #00BFFF;
    margin: auto;
    @include configBody_Weight_Height();
}
