<!--UPDATED-->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html" />
    <meta name="keywords" content="Home Page" />
    <meta name="description" content="Main Home Page" />
    <meta name="Developer" content="Denis J Finkel" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Home/About/about.css">
    <title>About</title>
</head>
<body>
    <!--HEADER-->
    <header>
        <div id="header-container">
            <h1 id="header-title">About Me</h1>
            <a id="home-link" asp-action="Index">Home</a>
        </div>
    </header>
    <!--MAIN-->
    <main>
        <!--The Education-->
        <section class="container">
            <button type="button" class="collapsible-section">The Education</button>
            <div class="content">
                <p class="text">
                    Graduated Texas State Technical College with an Associate of Applied Science degree in Software Development.
                    I plan on on continuing my education in the future. 
                </p>
            </div>
        </section>

        <!--The Journey-->
        <section class="container">
            <button type="button" class="collapsible-section">UE5 Game Development</button>
            <div class="content">
                <h2 class="text">AI System</h2>
                <video controls muted>
                    <source src="~/Home/About/AISystem.mp4" type="video/mp4">
                </video>
                <h2  class="text">Equip System</h2>
                <!--video player-->
                <video controls muted>
                    <source src="~/Home/About/EquipSystem.mp4" type="video/mp4">
                </video>
                <div></div>
                <h2 class="text">Fire System</h2>
                <video controls muted>
                    <source src="~/Home/About/FireSystem.mp4" type="video/mp4">
                </video>
            </div>
        </section>

        <!--The Interest-->
        <section class="container">
            <button type="button" class="collapsible-section">?</button>
            <div class="content">
                <p class="text">
                    Coming Soon....
                </p>
            </div>
        </section>

    </main>
    <script src="~/Home/About/index.js"></script>
</body>
</html>
