@*
    /*
    * Software Developer: Denis J Finkel
    * Launch Date: February 9th, 2020
    * Updated Date: 9/20/22
    * Description: Personal Website
    * Tools: Azure
    * App Uses: Azure Cloud Service
    * NOTE: Copyright 2019, Denis J Finkel, All rights reserved.
    * */
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html" />
    <meta name="keywords" content="Home Page" />
    <meta name="description" content="Main Home Page" />
    <meta name="Developer" content="Denis J Finkel" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Home/Index/index.css">
    <!--Icon library-->
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <title>Home</title>
</head>
<body>
    <!--Header-->
    <header>
        <nav>         
                <a asp-action="About">About Me</a>              
                <a asp-action="MyStory">My Story</a>             
                <a asp-action="Resume">Resume</a>                
            @*    <a href="#">Coming Soon</a>  *@                    
        </nav>

    </header>

    <!--Main-->
    <main>
        <h2>Welcome to Denis J Finkel's Website....</h2>
        <h3>Thank you for taking your time to read about me.</h3>
        <h5><em>note: This website URL was redirected from my domain name JFinkel.net </em></h5>
    </main>

    <footer>
        <h5>&copy; 2020-2022 Denis J Finkel. All Rights Reserved.</h5>
    </footer>
</body>
</html>
