@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html" />
    <meta name="keywords" content="Home Page" />
    <meta name="description" content="My Story Home Page" />
    <meta name="Developer" content="Denis J Finkel" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Home/MyStory/MyStory.css">
    @*<script src="https://kit.fontawesome.com/a076d05399.js"></script>*@
    <title>My Story</title>

</head>
<body>
    <!--Header-->
    <header>
        <div id="header-container">
            <h1 id="header-title">My Story</h1>
            <a id="home-link" asp-action="Index">Home</a>
        </div>
    </header>
    <!--MAIN-->

    <main>
        <!--CHAPTER 1-->
        <section class="container" id="container-1">
            <div>
                <h3 class="container-title">The Beginning</h3>
                <p id="chapter_1-paragraph">
                    My Story started from a simple search in Google. In the search bar I found a career test website. After visiting the site I was puzzled. I was confused about how a website full of questions could help me find my future career. So I went with my gut and gave it a shot. I had nothing to lose. Furthermore, after the test I discovered there were several optional careers to choose from. The website showed several careers so I selected one and began to search for it on YouTube. I wanted to visually see what the job consisted of and what qualifications are required.  There was one job that caught my attention and that was Software Development! I reviewed what they do on their job to get a good insight about software development.  I then decided to watch several YouTube videos. When I watched what all they do, I thought that was the coolest thing ever! I was so amazed that I wanted to become a software developer. In-fact, I was so excited I decided that I would go to college for it. However, during the month of February  college classes had already started. So I had to find a college that would have a program for software development for the fall semester. During my time of searching for a right school I found TSTC, Texas State Technical College. I applied to the college and was accepted then started the fall semester of 2018. I was working two jobs prior to attending school at TSTC trying to figure out what I wanted to do with my life. I was so excited about discovering Software Development that I started researching and learned many things on my own. By the time school started I had made an app on my android phone.
                </p>
            </div>
        </section>
        <!--CHAPTER 2-->
        <section class="container" id="container-2">
            <div>
                <h3 class="container-title">The Foundation</h3>
                <p id="chapter_2-paragraph">
                    On February 9th of 2018, I  tried to learn the basics of HTML and CSS. I made several websites in that month but nothing spectacular. Even so, it was a great start for something amazing. On March 7th, I began to learn about JavaScript. While working with JavaScript, I was very confused about programming in general. Looking back now, I remembered making more mistakes than I thought was possible. Beyond that, I also remembered my frustration level was intense. JavaScript was my first programming language and I enjoyed learning how I could manipulate objects on the website. As months followed, I began to learn about ANSI C and practicing JavaScript. I made several small coding projects while increasing my knowledge before my first semester in college. During that time of studying I was working about 35-40 hours a week. Every day after I got off from my job I wanted to go straight to my apartment and learn the next thing. I was obsessed with it.
                </p>
            </div>
        </section>
        <!--CHAPTER 3-->
        <section class="container" id="container-3">
            <div>
                <h3 class="container-title">The Education</h3>
                <p id="chapter_3-paragraph">
                    When I first started my semester at TSTC I was nervous and excited. I was excited to go in depth about learning Software Development with my new Professor Mrs. Phyllis Hollingshead. I noticed everyone in the class was nervous and shy. However, that did not stop me from asking questions in the classroom. Throughout my first semester, I enjoyed solving problems on the white board, creating software projects and discovering new things about software development. Towards the end of my first semester, I discovered that I could create android applications. I quickly downloaded Android Studio and dove right into creating my own android app. It was fun and meaningful. Over several semesters in college I learned valuable programming skills and tips. I’ve learned how to document my code, I may need to think before I code, debugging, meaningful variable names, code readability, and most important of all Do Not Re-Invent the Wheel! There is so much more that I learned but overall I learned how to program correctly. What I realized was that it is not the fact that I enjoyed creating Software Applications but the fact that I can see my code come to life that has made programming enjoyable. If there's one thing that I really understand, it's whatever I can think of or whatever problem I have it can be solved with my imagination. As a result, I feel like coding has given me a purpose.
                </p>
            </div>
        </section>

    </main>
</body>
</html>
