@import '../../Styles/_Mixins.scss';
@import '../../Styles/_Colors.scss';
//<========================= Index =========================>


header {
    background: linear-gradient(to bottom right,$black_Charcoal,$black_Grey1);
    border: 2px solid $black_Charcoal; //Blackish2
    text-align: center;
    padding: 25px;
}



/* Style the links inside the navigation bar */
nav a {
    font-family: 'Times New Roman';
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 14px 16px;
    text-align: center;
    font-size: 17px;
    float: none;
    color: #f0ffff; // Azure
}

/* Change the color of links on hover */
nav a:hover {
    color: beige;
    background-color: transparent;
}


body {
    box-sizing: content-box;
    overflow-x: hidden;
    font-weight: 400;
    margin: auto;
    @include configBody_Weight_Height();
}



/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

