@import '../../Styles/_Mixins.scss';
@import '../../Styles/_Colors.scss';
//<========================= Index =========================>

header {
    background: linear-gradient(to bottom right,$black_Charcoal,$black_Grey1);
    border: 2px solid $black_Charcoal; //Blackish2
    padding: 35px;

    nav {
        font-family: 'Times New Roman';
        letter-spacing: 2px;
        position: center;
        text-align: center;
        //border: 2px solid #ffd800; //test

        a {
            text-decoration: none;
            color: #f0ffff; // Azure
            font-size: 20px;
            padding: 25px;


            &:hover {
                color: beige;
                background-color: transparent;
            }
        }
    }
}



body {
    box-sizing: content-box;
    overflow-x: hidden;
    font-weight: 400;
    margin: auto;
    @include configBody_Weight_Height();
}



