@import '../../Styles/_Mixins.scss';
@import '../../Styles/_Colors.scss';
//<========================= About =========================>
header {
    #header-container {
        background: linear-gradient(to bottom right,$black_Charcoal,$black_Grey1);
        border: 2px solid $black_Charcoal; //Blackish2
        outline: none;

        #header-title {
            text-align: center;
            font-family: 'Times New Roman';
            font-size: 35px;
            letter-spacing: 2px;
            font-style: normal;
            font-weight: 900;
            color: $Snow;
        }
        // Home
        a {
            text-decoration: none;
            font-size: 22px;
            color: $Azure;

            &:hover {
                color: aquamarine;
            }
        }
    }
}

// MAIN
main {
    .container {
        position: relative;
        bottom: -50px;
        margin-top: 15px;
        padding: 5px;
        outline: none;
    }
    /* Button that is used to Open and Close the Collapsible content */
    .collapsible-section {
        background: linear-gradient(to bottom right,$black_Charcoal,$black_Grey1);
        color: $Azure;
        cursor: pointer;
        padding: 20px;
        width: 100%;
        height: 125px;
        border-radius: 3.5px;
        outline: none;
        border-top: none;
        font-size: 25px;
        text-align: center;

        &:hover {
            border-top: $red_Vermilion groove 3px;
        }
        /* Add The .active class with JS), 
            & when you move the mouse over it (hover) */
        &:active, hover {
            background-color: #ccc;
            color: $orange_Beige;
        }
    }
    /*  Collapsible Content & Is Hidden By Default */
    .content {
        font-size: 20px;
        padding: 0 18px;
        display: none; // none is needed in order for js to work
        overflow: hidden;       
        // Drop Down Content Background
        background-color: $black_Grey0;

        .text {
            color: $Azure
        }

        video {
            /* override other styles to make responsive */
            width: 100% !important;
            height: auto !important;
        }
    }
}


body {
    box-sizing: content-box;
    overflow-x: hidden;
    font-weight: 400;
    color: #00BFFF;
    margin: auto;
    @include configBody_Weight_Height();
}
